<!-- eslint-disable @angular-eslint/template/elements-content -->
<div *ngIf="hero">
  <h1>{{ hero.name | uppercase }} Details</h1>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>name: </span>{{hero.name}}</div>

  <mat-card>
    <mat-card-content>

    </mat-card-content>

    <mat-card-actions>

    </mat-card-actions>
  </mat-card>

  <div>
    <label for="name">Hero name:</label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name" type="text">
  </div>

  <button mat-raised-button (click)="goBack()">Go Back</button>
</div>
